<div class="d-flex mt-4">
    <span class="p-input-icon-left flex-1">
      <i class="pi pi-search"></i>
      <input #search placeholder="Search for vehicle" type="text" pInputText (input)="table.filterGlobal(search.value, 'contains')" />
    </span>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">FuelType</th>
        <th scope="col">Transmission</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let car of cars">
        <tr>
            <td><img [src]="car.imageUrl" width="100" class="shadow-4" /></td>
              <td>{{car.model.modelName}}</td>
              <td>{{car.brand}}</td>
              <td>{{car.price | currency:'EUR'}}</td>
              <td>{{car.model.fuelType | titlecase}}</td>
              <td>{{car.model.transmission | titlecase}}</td>
              <td>
                  <a href="/car/{{car.id}}"> 
                      <p-button label="Details"/>
                  </a>
              </td>
              <td>
                <p-button label="Create offer" />
              </td>
          </tr>
    </tbody>
  </table>
  


  <p-table #table
  [value]="cars" [tableStyle]="{'min-width': '60rem'}"
  [globalFilterFields]="['brand', 'price', 'model.modelName', 'model.fuelType', 'model.transmission']"
  [paginator]="true"
  [rows]="5">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>FuelType</th>
            <th>Transmission</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
          <td><img [src]="car.imageUrl" [alt]="car.name" width="100" class="shadow-4" /></td>
            <td>{{car.model.modelName}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.price | currency:'EUR'}}</td>
            <td>{{car.model.fuelType | titlecase}}</td>
            <td>{{car.model.transmission | titlecase}}</td>
            <td>
                <a href="/car/{{car.id}}"> 
                    <p-button label="Details"/>
                </a>
            </td>
            <td>
              <p-button label="Create offer" />
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{cars ? cars.length : 0 }} cars.
        </div>
    </ng-template>
</p-table>
