<div class="container pt-4">

  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1>SEAF</h1>
      <h4>Stock Engine Automatic Frontend</h4>
    </div>
    <img src="assets/bmw-logo.png" alt="" style="width: 20em;">
  </div>

  <router-outlet></router-outlet>
</div>