<a href="/">
    <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>
</a>

  <div class="mt-2 card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="car.imageUrl" class="img-fluid rounded-start" alt="..." style="width: 20em;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{car.brand}} {{car.model.modelName}}</h5>
          <p class="card-text">{{car.model.fuelType | titlecase}}</p>
          <p class="card-text">{{car.model.transmission | titlecase}}</p>
          <p class="card-text"><small class="text-body-secondary">{{car.price | currency:'EUR'}}</small></p>
        </div>
      </div>
    </div>
  </div>
