@import "primeicons/primeicons.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";

input{
    width: 100%;
}

p-button{
    button{
        background: #1a1a1a;
        padding: 6px 12px;
        span{
            font-weight: 300;
        }
    }
}

body{
    background: #f3f4f4;
}

.flex-1{
    flex: 1;
}
